body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0a0a0a;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: black;
    border-bottom: 1px solid #222;
}

.logo {
    color: #a855f7;
}

.search {
    background: #111;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.hero {
    padding: 40px;
    text-align: center;
    font-size: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 30px;
}

.card {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.6s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(168,85,247,0.3);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #a855f7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.product {
    display: flex;
    padding: 40px;
    gap: 40px;
}

.product img {
    width: 400px;
}

.price {
    font-size: 22px;
    margin: 10px 0;
}

.buy {
    padding: 12px 20px;
    background: #a855f7;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.cart-btn {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

form {
    margin: 0;
}