{% extends 'base.html' %}

{% block content %}

<section class="hero">
    <h2>NEW DROP</h2>
</section>

<div class="grid">
    {% for product in products %}
    <div class="card">
       <img src="{{ url_for('static', filename=product.image) }}">

        <h3>{{ product.name }}</h3>

        <p>${{ product.price if product.price else 0 }}</p>

        <a href="/product/{{ product.id }}" class="btn">Ver</a>
        <a href="/add_to_cart/{{ product.id }}" class="btn">Agregar</a>
    </div>
    {% endfor %}
</div>

{% endblock %}
